#TODO: 10 - add docker compose file

version: "3.9"
services:
  db:
    container_name: jira-db
    image: postgres
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=jira
      - POSTGRES_PASSWORD=JiraRush
      - POSTGRES_DB=jira
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - frontend

  app:
    container_name: jira-app
    build: .
    image: jira
    environment:
      - DATASOURCE_URL=jdbc:postgresql://jira-db:5432/jira
      - DATASOURCE_USERNAME=jira
      - DATASOURCE_PASSWORD=JiraRush
      - OAUTH2_GITHUB_CLIENT_ID=3d0d8738e65881fff266
      - OAUTH2_GITHUB_CLIENT_SECRET=0f97031ce6178b7dfb67a6af587f37e222a16120
      - OAUTH2_GOOGLE_CLIENT_ID=329113642700-f8if6pu68j2repq3ef6umd5jgiliup60.apps.googleusercontent.com
      - OAUTH2_GOOGLE_CLIENT_SECRET=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
      - OAUTH2_GITLAB_CLIENT_ID=b8520a3266089063c0d8261cce36971defa513f5ffd9f9b7a3d16728fc83a494
      - OAUTH2_GITLAB_CLIENT_SECRET=e72c65320cf9d6495984a37b0f9cc03ec46be0bb6f071feaebbfe75168117004
      - MAIL_USERNAME=jira4jr@gmail.com
      - MAIL_PASSWORD=zdfzsrqvgimldzyj
    depends_on:
      db:
        condition: service_healthy
    restart: always
#    volumes:
#      - ./resources:/app/resources:ro
    networks:
      - frontend
      - backend

  proxy:
    container_name: jira-nginx
    image: nginx
    ports:
      - "80:80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./resources:/opt/jirarush/resources:ro
    depends_on:
      app:
        condition: service_started
    restart: always
    networks:
      - frontend

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge