:root {
    --nav: #293d57;
    --dark-nav: #1b2b40;
    --orange: #ff7337;
    --orange-hover: #ff8C00;
    --yellow: #e6bD00;
    --yellow-hover: #ffd200;
    --main-background: #e8ebf1;
    --nav-item-active: #2c536f;
    --nav-item-hover: #274962;
}
