<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4">
                            LEARN
                        </h6>
                        <p>
                            <a class="footer-href" href="#">Programming Courses</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Java Course</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Help with Tasks</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Pricing</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Game Projects</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4">
                            COMMUNITY
                        </h6>
                        <p>
                            <a class="footer-href" href="#">Users</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Articles</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Forum</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Chat</a>
                        </p>
                        <p>
                            <a class="footer-href" href="#">Success Stories</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4">COMPANY</h6>
                        <p>
                            <a class="footer-href" href="#">About us</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#">Contacts</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#">Reviews</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#">FAQ</a>
                        <p>
                        <p>
                            <a class="footer-href" href="#">Support</a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img alt="JavaRush" class="mb-3" src="/static/images/logo/jr.svg">
                        <p>
                            JavaRush is an online course for learning Java programming from scratch.
                            This course is a perfect way to master Java for beginners.
                            It contains 1200+ of tasks with instant verification and an essential scope of Java
                            fundamentals theory.
                        </p>
                        <h6>FOLLOW US</h6>
                        <div>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light me-2" href="#" type="button">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-light" href="#" type="button">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4">
            Programmers Are Made, Not Born © 2023 JavaRush
        </div>
    </footer>
</div>
</html>
