<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div th:fragment="footer">
    <footer class="text-center text-lg-start text-white footer">
        <section>
            <div class="container text-center text-md-start">
                <div class="row ms-0 ms-md-5">
                    <div class="col-md-4 col-xl-2 mb-4 mt-4">
                        <h6 class="fw-bold mt-2 mt-md-0 mb-4" th:text="#{footer.learn}"></h6> <!--TODO: 11.add localization-->
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.learn.courses.programming}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.learn.courses.java}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.learn.help}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.learn.pricing}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.learn.projects.game}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.community}"></h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.community.users}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.community.articles}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.community.forum}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.community.chat}"></a>
                        </p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.community.success}"></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-xl-2 mb-4 mt-0 mt-md-4">
                        <h6 class="fw-bold mb-4" th:text="#{footer.company}"></h6>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.company.about}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.company.contacts}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.company.reviews}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.company.faq}"></a>
                        <p>
                        <p>
                            <a href="#" class="footer-href" th:text="#{footer.company.support}"></a>
                        <p>
                    </div>

                    <div class="col-xl-5 mb-4 mt-0 mt-md-4">
                        <img src="/static/images/logo/jr.svg" alt="JavaRush" class="mb-3">
                        <p th:text="#{footer.text}"></p>
                        <h6 th:text="#{footer.follow}"></h6>
                        <div>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-facebook-f pe-1"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-youtube"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light me-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-sm btn-outline-light">
                                <i class="fab fa-telegram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center pb-4">
            <p th:text="#{footer.citation}"></p>
        </div>
    </footer>
</div>
</html>
