<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<div th:fragment="header">
    <header class="fixed-top d-none d-md-block header-nav">
        <nav class="navbar navbar-expand-lg navbar-dark" id="header">
            <div class="container">
                <div class="collapse navbar-collapse mt-2 mb-2">
                    <ul class="navbar-nav m-auto">
                        <form class="d-flex" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="header-search">
                        </form>
                        <li class="nav-item menu-item me-3 ms-4">
                            <a href="/doc" type="button" class="btn btn-yellow" target="_blank">Swagger API</a>
                        </li>
                    </ul>
                    <div th:if="${authUser} == null">
                        <a href="/view/login" type="button" class="btn btn-orange">Login/Register</a>
                    </div>
                    <th:block th:if="${authUser} != null">
                        <a href="/ui/profile" type="button" class="btn btn-orange"><i class="fa-solid fa-address-card"></i> Profile</a>
                        <form action="/ui/logout" method="post" class="mx-2">
                            <button class="btn btn-yellow btn-orange" type="submit"><i class="fa-solid fa-sign-out"></i> Logout</button>
                        </form>
                    </th:block>
                </div>
            </div>
        </nav>
    </header>
</div>
</html>
