<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->

<div th:fragment="header">
    <header class="fixed-top d-none d-md-block header-nav">
        <nav class="navbar navbar-expand-lg navbar-dark" id="header">
            <div class="container">
                <div class="collapse navbar-collapse mt-2 mb-2">

                    <ul class="navbar-nav m-auto">
                        <form class="d-flex" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                                   id="header-search">
                        </form>
                        <li class="nav-item menu-item me-3 ms-4">
                            <a href="/doc" type="button" class="btn btn-yellow" target="_blank"
                               th:text="#{header.swagger}"></a>
                        </li>
                        <form id="lang-form" class="d-flex" th:action="@{/}" method="get">
                            <label for="languages"></label>
                            <select class="btn btn-yellow" id="languages" name="locale" onchange="this.form.submit()">
                                <option th:value="ru" th:text="#{lang.ru}" th:selected="${#locale.language == 'ru'}"></option>
                                <option th:value="en" th:text="#{lang.en}" th:selected="${#locale.language == 'en'}"></option>
                            </select>
                        </form>
                    </ul>
                    <div th:if="${authUser} == null">
                        <a href="/view/login" type="button" class="btn btn-orange login_btn" th:text="#{header.login}"></a>
                    </div>
                    <th:block th:if="${authUser} != null">
                        <a href="/ui/profile" type="button" class="btn btn-orange" th:text="#{header.profile}"></a>
                        <form action="/ui/logout" method="post" class="mx-2">
                            <button class="btn btn-yellow btn-orange" type="submit">
                                <i class="fa-solid fa-sign-out"></i>
                                <span th:text="#{header.logout}"></span>
                            </button>
                        </form>
                    </th:block>
                </div>
            </div>
        </nav>
    </header>
</div>
</html>