<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<th:block th:replace="~{layout/main::page(title='References',appMain=~{::appMain}, ownScript=~{::script})}">
	<appMain>
		<h1 th:text="#{reference.title}"></h1>
		<br>
		<div class="card">
			<div class="card-body">
				<div class="container">
					<div class="row align-items-center justify-content-between">
						<div class="col-auto me-auto">
							<button type="button" id="create" class="btn btn-primary" data-bs-toggle="modal"
							        data-bs-target="#modalRef" th:text="#{reference.button.add}"> <!--TODO: 11.add localization-->
							</button>
						</div>
						<div class="col-auto me-auto" id="alert">

						</div>
						<div class="col-4">
							<select class="form-select" aria-label="select-reftype" id="select-reftype">
								<option th:each="type : ${refTypes}" th:value="${type}" th:text="${type}"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>

		<table id="table" style="text-align: left;" class="table table-striped">
			<thead>
				<tr>
					<th th:text="#{reference.table.title}"></th>
					<th th:text="#{reference.table.code}"></th>
					<th th:text="#{reference.table.aux}"></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody id="table-body"></tbody>
		</table>

		<div class="modal fade" id="modalRef" tabindex="-1" aria-labelledby="modalRefLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalRefLabel"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<form id="modal-form">
						<div class="modal-body text-start">

							<div class="mb-3">
								<label for="ref-title" class="col-form-label" th:text="#{reference.create.title}+':'"></label>
								<input type="text" class="form-control" id="ref-title">
							</div>
							<div class="mb-3">
								<label for="ref-code" class="col-form-label" th:text="#{reference.create.code}+':'"></label>
								<input type="text" class="form-control" id="ref-code"></input>
							</div>
							<div class="mb-3">
								<label for="ref-aux" class="col-form-label" th:text="#{reference.create.aux}+':'"></label>
								<input type="text" class="form-control" id="ref-aux">
							</div>
							<div class="mb-3">
								<label for="ref-type" class="col-form-label" th:text="#{reference.create.type}+':'"></label>
								<select class="form-select" aria-label="ref-type" id="ref-type">
									<option th:each="type : ${refTypes}" th:value="${type}" th:text="${type}"></option>
								</select>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{reference.button.close}"></button>
							<button type="submit" id="save-btn" class="btn btn-primary" th:text="#{reference.button.save}"></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</appMain>
</th:block>
<script src="/static/js/references.js"></script>