<!DOCTYPE html>
<html lang="ru" th:with="activeMenuItem='Reports'" xmlns:th="http://www.thymeleaf.org">

<th:block
        th:replace="~{layout/main::page(title='JiraRush: mini bugtracking system',appMain=~{::appMain}, activeMenuItem='reports')}">
    <appMain>
        <h1>Reports</h1>
        <div class="table-responsive-lg mt-4 text-nowrap text-center">
            <table class="table table-bordered">
                <thead class="table-secondary">
                <tr>
                    <th colspan="4">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 align-items-center">
                            <div class="col">
                                <div class="input-group">
                                    <span class="input-group-text fw-bold" title="Project">Project</span>
                                    <select class="form-select" id="project-selector"
                                            th:disabled="${projects.isEmpty()}">
                                        <option th:if="${projects.isEmpty()}" value="-1">No projects</option>
                                        <option th:each="project : ${projects}" th:if="${!projects.isEmpty()}"
                                                th:text="${project.title}" th:value="${project.id}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col mt-2 mt-md-0">
                                <div class="input-group" id="sprint-selector-group" th:if="${!projects.isEmpty()}">
                                    <span class="input-group-text fw-bold" title="Sprint">Sprint</span>
                                    <select class="form-select" id="sprint-selector"></select>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr hidden id="sprint-header-row">
                    <th>Status</th>
                    <th>Started</th>
                    <th>Completed</th>
                    <th>Duration</th>
                </tr>
                </thead>
                <tbody>
                <tr hidden id="sprint-info-row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr hidden id="task-summaries-row">
                    <td colspan="4">
                        <h5 class="fw-bold text-secondary text-start mt-1">Task summaries</h5>
                        <table class="table table-bordered">
                            <thead class="table-secondary">
                            <tr id="task-status-row"></tr>
                            </thead>
                            <tbody>
                            <tr id="task-total-row"></tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </appMain>
</th:block>
<script src="/static/js/common.js"></script>
<script src="/static/js/report.js"></script>
