<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="sprint" type="com.javarush.jira.bugtracking.sprint.to.SprintToFull"*/-->
<!--/*@thymesVar id="fragment" type="boolean"*/-->
<!--/*@thymesVar id="authUser" type="com.javarush.jira.login.AuthUser"*/-->
<th:block
        th:replace="~{layout/bugtrackLayout::view(${sprint}, ${authUser.isManager()}?'/ui/mngr/sprints/edit/':null, ~{::sprint}, ${fragment})}">
    <sprint>
        <h5>Status: [[${sprint.statusCode}]]</h5>
        <hr>
        <h6>Project: <a th:href="@{'/ui/projects/' + ${sprint.projectId}}">[[${sprint.project.code}]]</a></h6>
        <h6><a href="#"
               th:if="${sprint.statusCode == 'finished'}" th:onclick="|showReport('${sprint.projectId}', '${sprint.id}')|">Report</a></h6>
        <h6><a href="#" th:if="${sprint.statusCode == 'active'}" th:onclick="|showDashboard('${sprint.projectId}')|">Dashboard</a>
        </h6>
    </sprint>
</th:block>
<script>
    function showDashboard(projectId) {
        sessionStorage['projectId'] = projectId;
        location.href = "/ui/dashboard";
    }

    function showReport(projectId, sprintId) {
        sessionStorage['projectId'] = projectId;
        sessionStorage['sprintId'] = sprintId;
        location.href = "/ui/reports";
    }
</script>