<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="#{mail.template.confirmation.title}">JiraRush - подтверждение почты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{mail.template.confirmation.hello} + ${user.firstName} + '.'"/>
<p th:text="#{mail.template.confirmation.description}">Чтобы завершить настройку учетной записи и начать пользоваться JiraRush, подтвердите, что вы правильно указали вашу
    электронную почту.</p>
<a th:href="${confirmationUrl}" th:text="#{mail.template.confirmation.confirm}">Подтвердить почту</a>
</body>
</html>