<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title th:text="#{mail.template.reset_password.title}">JiraRush - установить новый пароль</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{mail.template.reset_password.hello} + ${user.firstName} + '.'"/>
<p th:text="#{mail.template.reset_password.description} + ${user.email} + '.'"/>
<a th:href="${resetUrl}" th:text="#{mail.template.reset_password.set_password}">Установить пароль</a>
</body>
</html>