<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <title th:text="#{mails.password-reset.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="#{mails.password-reset.greetings} + ', ' + ${user.firstName} + '.'"/><!--TODO: 11.add localization-->
<p th:text="#{mails.password-reset.request} + ': ' + ${user.email} + '.'"/>
<a th:href="${resetUrl}" th:text="#{mails.button.reset}"></a>
</body>
</html>