<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<script th:src="@{/static/js/common.js}" defer></script>
<script th:src="@{/static/js/users.js}" defer></script>

<th:block th:replace="~{layout/main::page(title='Users',appMain=~{::appMain})}">
    <appMain>
        <div class="jumbotron pt-4">
            <div class="container">
                <h3 class="text-center" th:text="#{users.title}"></h3>
                <button th:onclick="add()" class="btn btn-primary" th:text="#{users.button.add}"></button>
                <table class="table table-striped" id="datatable">
                    <thead>
                    <tr>
                        <th th:text="#{users.table.first-name}"></th> <!--TODO 11.add localization-->
                        <th th:text="#{users.table.last-name}"></th>
                        <th th:text="#{users.table.display-name}"></th>
                        <th th:text="#{users.table.email}"></th>
                        <th th:text="#{users.table.roles}"></th>
                        <th th:text="#{users.table.registered}"></th>
                        <th th:text="#{users.table.active}"></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="modal fade" tabindex="-1" id="editRow">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalTitle"></h4>
                        <button type="button" class="close" data-bs-dismiss="modal" onclick="closeNoty()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="detailsForm">
                            <input type="hidden" id="id" name="id">

                            <div class="form-group">
                                <label for="firstName" class="col-form-label" th:text="#{users.create.first-name}"></label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       th:placeholder="#{users.create.placeholder.first-name}">
                            </div>

                            <div class="form-group">
                                <label for="lastName" class="col-form-label" th:text="#{users.create.last-name}"></label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       th:placeholder="#{users.create.placeholder.last-name}">
                            </div>

                            <div class="form-group">
                                <label for="displayName" class="col-form-label" th:text="#{users.create.display-name}"></label>
                                <input type="text" class="form-control" id="displayName" name="displayName"
                                       th:placeholder="#{users.create.placeholder.display-name}">
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-form-label" th:text="#{users.create.email}"></label>
                                <input type="email" class="form-control" id="email" name="email"
                                       th:placeholder="#{users.create.placeholder.email}">
                            </div>

                            <div class="form-group">
                                <label for="password" class="col-form-label" th:text="#{users.create.password}"></label>
                                <input type="password" class="form-control" id="password" name="password"
                                       th:placeholder="#{users.create.placeholder.password}">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeNoty()">
                            <span class="fa fa-close"></span>
                            <span th:text="#{users.button.cancel}"></span>
                        </button>
                        <button type="button" class="btn btn-primary" onclick="save()">
                            <span class="fa fa-check"></span>
                            <span th:text="#{users.button.save}"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </appMain>
</th:block>
